<!DOCTYPE html>
<html>
    <head>
        <title>Agilis</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header id="header_main">
                    <div id="logo" >
                        </div><h1><a href="./"><img src="static/logo.png" alt="info"></a></h1>
                    </div>    
            
                <nav> 
                    <ul>
                        <li><a href="./profil" >Profil</a></li>
                        <li><a href="./sokjobb" >Sök jobb</a></li>
                        <li><a href="./kontakt" >Kontakta Agilis</a></li>
                        <li style="float:right"><a class="active"href="./" >Logga ut</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <h2>Uppladdning</h2>
                <h3>Ladda upp ditt CV</h3>
                <form enctype="multipart/form-data" action="/cgi-bin/uploadfile.py" method="post">
                    <p>File: <input type="file" name="filename"/> </p>
                    <p> <input type="submit" value="upload"/> </p>
                </form>
            
                <h3>Ladda upp ditt Personliga brev</h3>
                <form enctype="multipart/form-data" action="/cgi-bin/uploadfile.py" method="post">
                    <p>File: <input type="file" name="filename"/> </p>
                    <p> <input type="submit" value="upload"/> </p>
                </form>
                
                <h3><a href="sparade_cv_pb" ><b>Se sparade jobb</b></a></h3>
                <p><b>Tillbaka till <a href="./profil">profilsida</b></a></p>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>