<!doctype html>

<html>
    <head>
        <title>Startsida</title>
        <meta charset="utf-8">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Agilis</h1>
            </header>
            <main>
                <h2>För dig som söker jobb</h2>
                <p>Agilis är för dig som aktivt söker många jobb varje dag. Vi underlättar för dig genom att samla alla jobb och visa upp dem i ett enkelt 'ja' eller 'nej' format. Därefter har du möjlighet att skicka ditt CV och olikt förberedda personliga brev utefter jobbet du söker! <br>
                Registrera dig hos oss idag!    
                </p>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>