<!DOCTYPE html>
<html>

<head>
    <title>Agilis Information</title>
    <meta charset="utf-8">
    <link href="static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <script src="static/script.js"></script>
</head>

<body>
    <div id="wrapper">
        <header id="header_main">
            <div id="logo" >
                 </div><h1><a href="./"><img src="static/logo.png" alt="info"></a></h1>
             </div>      
            <!---- <p><img src="static/minitext.png"  alt="bild på logo" > </p>-->
            <nav>                <ul>
                    <li><a href="./profil" >Profil</a></li>
                    <li><a href="./sokjobb" >Sök jobb</a></li>
                    <li><a href="./info" >Information</a></li>
                    <li><a href="./kontakt" >Kontakt</a></li>
                    <li style="float:right"><a class="active"href="/signout" >Logga ut</a></li>
                </ul>
             </nav>
        </header>
        <main>
            <h1>Information</h1>
            <h3>
                Agilis är en jobbsökningssida för dig som vill ha tid över till annat. <br>
                Vårt motto är att det inte ska ta lång tid att söka sitt drömjobb.
            </h3>
            <br>                                        
            </h3>
            <div class infobild></div>
            <img src="static/info_komigang.jpg" alt="info">
            <img src="static/info_bakgrund.jpg" alt="bakgrund">
    </div>
    <br>
    <p>


    </p>
    <br>
    <div class="flip-card-container">

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="static/phatchana2.jpg" alt="Avatar" style="width:225px;height:250px;">
                </div>
                <div class="flip-card-back">
                    <h1>Phatchana Srinin</h1>
                    <p> 22</p>
                    <p>Studerarande</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="static/ronja.jpg" alt="Avatar" style="width:225px;height:250px;">
                </div>
                <div class="flip-card-back">
                    <h1>Ronja Näckblad</h1>
                    <p> 24</p>
                    <p>Lil Bish</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="static/petra.jpg" alt="Avatar" style="width:225px;height:250px;">
                </div>
                <div class="flip-card-back">
                    <h1>Petra Svensson</h1>
                    <p> 23</p>
                    <p>Studerande</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="static/phatchana2.jpg" alt="Avatar" style="width:225px;height:250px;">
                </div>
                <div class="flip-card-back">
                    <h1>Nathalie Björnsson</h1>
                    <p> 25</p>
                    <p>Studerande</p>
                </div>
            </div>
        </div>

    </div>
    <p>
        Klicka på <a href="./kontakt">Kontakt</a> ifall du har några frågor till Agilis.
    </p>
    </main>
    <footer>
        <p>@AgilisAB</p>
    </footer>
    </div>
</body>

</html>