<!DOCTYPE html>
<html>
    <head>
        <title>Agilis Information</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>AGILIS</h1>
                <p>- Ge dig själv mer tid till annat</p>
                <nav> 
                        <ul>
                            <li><a href="./profil">Profil</a></li>
                            <li><a href="./sokjobb">Sök jobb</a></li>
                            <li><a href="./info">Information</a></li>
                            <li><a href="./kontakt">Kontakt</a></li>
                            <li style="float:right"><a class="active"href="./">Logga ut</a></li>
                        </ul>
                </nav>
            </header>
            <main>
                <h1>Information</h1>
                 <h3>
                    Agilis är en jobbsökningssida för dig som vill ha tid över till annat. <br>
                    Vårt motto är att det inte ska ta lång tid att söka sitt  drömjobb.
                 </h3>
                   <br>
                 </h3>
                 <h3>Kom igång:</h3>
                <p>
                    <b>1: </b>Gå till <a href="./">Startsidan</a> och klicka på registera dig.
                    <b>2: </b>När du är på rätt sida skriv in ditt namn, efternamn, e-mail och ett lösenord.
                    <b>3: </b>Nu har du skapat ett konto hos Agilis! Varmt Välkommen!
                    <b>4: </b>Gå till Startsidan igen och logga in med din e-mail och lösenord som du precis skrev in.
                    <b>5: </b>Nu kan du ladda upp CV och Personliga brev och även spara jobb du är intresserad av.
                    <b>6: </b>Nu är det bara till att söka olika jobb hos oss, tryck <em>'ja'</em> eller <em>'nej'</em> på de jobb du bläddrar mellan.
                </p>
                <h3>Vem står bakom Agilis?</h3>
                <p>
                    Vi är 4 stycken som går på Malmö Universitet som har ett projekt där vi ska göra en webbsida med olika programmeringsspråk och databas.
                    Vi vill att det ska gå snabbt och hitta nya spännande jobb så hoppas du som är medlem hos oss hittar ditt dröm jobb! 
                    Om det skulle vara något tevka inte och höra av dig till oss. 
                    <br>
                     Klicka på <a href="./kontakt">Kontakt</a> ifall du har några frågor till Agilis. 
                </p>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>