<!DOCTYPE html>
<html>
    <head>
        <title>Agilis Information</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header id="header_main">
                <h1><a href="./" >AGILIS</a></h1>
            <p>- Ett effektivt jobbsökande</p>
                <nav> 
                        <ul>
                            <li><a href="./sokjobb">Sök jobb</a></li>
                            <li><a href="./kontakt">Kontakt</a></li>
                            <li style="float:right"><a class="active"href="./">Logga ut</a></li>
                        </ul>
                </nav>
            </header>
            <main>
                <h1>Information</h1>
                 <h3>
                    Agilis är en jobbsökningssida för dig som vill ha tid över till annat. <br>
                    Vårt motto är att det inte ska ta lång tid att söka sitt drömjobb.
                 </h3>
                   <br>
                 </h3>
                 <img src="static/info_komigang.jpg" alt="info">
                 <img src="static/info_bakgrund.jpg" alt="bakgrund">
                 <br>
                 <p>


                 </p>
                 <br>

                <p>
                    Klicka på <a href="./kontakt">Kontakt</a> ifall du har några frågor till Agilis. 
                </p>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>