<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Kontakta Oss</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    
    </head>
    <body>
        <div class="huv-titel"> 
            <h1> Kontakta Oss!</h1>
            <h2> Vi lyssnar och vill alltid ditt bästa!</h2>
            <h2> Agilis </h2>
        </div>

        <div class="form"> 
            <form id="form" method="post" action="">
                <input name="name" type="text" class="fält" placeholder="Ditt Namn" required> <br>

                <input name="email" type="email" class="fält" placeholder="Ditt E-post" required><br>

                <textarea name="message" class="fält" placeholder="Meddelande" rows= "5" required></textarea><br>

                <input type="submit" class="skicka" value="Skicka Meddelande" required>

            </form>
        </div>

    </body>
</html>