<!DOCTYPE html>
<html>
    <head>
        <title>Agilis kontakta oss</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>AGILIS</h1>
                <p>- Ge dig själv mer tid till annat</p>
                <nav> 
                        <ul>
                            <li><a href="./profil" >Profil</a></li>
                            <li><a href="./sokjobb" >Sök jobb</a></li>
                            <li><a href="./info" >Information</a></li>
                            <li><a href="./kontakt" >Kontakt</a></li>
                            <li style="float:right"><a class="active"href="./" >Logga ut</a></li>
                        </ul>
                    </nav>
            </header>
            <main>
                <h2>För dig som söker jobb</h2>
                <p>Agilis är för dig som aktivt söker många jobb varje dag. Vi underlättar för dig genom att samla alla jobb och visa upp dem i ett enkelt 'ja' eller 'nej' format. Därefter har du möjlighet att skicka ditt CV och olikt förberedda personliga brev utefter jobbet du söker! <br>
                    Registrera dig hos oss idag!    
                </p>
               <h3>Är det något som du undrar över kontakta gärna Agilis!</h3>
               <div class="form"> 
                <form id="form" method="post" action="">
                    <input name="name" type="text" class="fält" placeholder="Ditt Namn" required> <br>
                    <input name="email" type="email" class="fält" placeholder="Din E-post" required><br>
                    <textarea name="message" class="fält" placeholder="Meddelande" rows= "5" required></textarea><br>
                    <input type="submit" class="skicka" value="Skicka Meddelande" required>
                </form>
            </div>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>