<!DOCTYPE html>
<html>
    <head>
        <title>Agilis kontakta oss</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header id="header_main">
                <div id="logo" >
                    </div><h1><a href="./"><img src="static/logo.png" alt="info"></a></h1>
                </div>    
            
                <nav> 
                        <ul>
                            <li><a href="./profil" >Profil</a></li>
                            <li><a href="./sokjobb" >Sök jobb</a></li>
                            <li><a href="./info" >Information</a></li>
                            <li><a href="./kontakt" >Kontakt</a></li>
                            <li style="float:right"><a class="active"href="./" >Logga ut</a></li>
                        </ul>
                    </nav>
            </header>
            <main>
                <h2>För dig som söker jobb</h2>
                <p>Agilis är för dig som aktivt söker många jobb varje dag. Vi underlättar för dig genom att samla alla jobb och visa upp dem i ett enkelt 'ja' eller 'nej' format. Därefter har du möjlighet att skicka ditt CV och olikt förberedda personliga brev utefter jobbet du söker! <br>
                    Registrera dig hos oss idag!    
                </p>
               <h3>Är det något som du undrar över kontakta gärna Agilis!</h3>
               <form method="POST" action="https://formspree.io/agilis2019@outlook.com">
                <input type="email" name="email" placeholder="Din email" id="form_email">
                <br>
                <textarea name="message" placeholder="Text"></textarea>
                <br>
                <button type="submit">Skicka</button>
              </form>   
               
           
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>