<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logga in</title>
        <link rel="icon" href="static/logo.png" type="icon">
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <link href="static/ionicons.min.css" rel="stylesheet">
        <link href="static/style_login.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
        <script src="static/modernizr.js"></script>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    </head>
    <body>
        <div id="preloader">
            <div class="pre-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <header class="box-header">
                <div class="box-logo">
                    <a href="./"><img src="static/logo.png" width="80" alt="Logo"></a>
                </div>
                <a class="box-primary-nav-trigger" href="#0">
                    <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
                </a>
            </header>
            <nav>
                <ul class="box-primary-nav">
                    <li class="box-label">Agilis</li>
                    <li><a href="./">Startsida</a></li>
                    <li><a href="./profil">Profil</a></li>
                    <li><a href="./sokjobb">Sök jobb</a></li>
                    <li><a href="./info">Om oss</a></li>
                    <li><a href="./kontakt">Kontakt</a></li>
                    <li><a id="login_or_logout" href="./login">Logga ut</a></li>
                </ul>
            </nav>
            <div class="container main-container">
                <div id="whole_form">
                    <form id="login_form" action="/check_login" method="POST">
                        <h3>Redan medlem? Logga in</h3>
                        <label for="username">Email:</label>
                        <input required type="email" id="username" name="username">
                        <label for="password">Lösenord:</label>
                        <input type="password" id="password" name="password">
                        <div>
                            <input type="checkbox" onclick="asterixPassword()">
                            <p>Visa lösenord</p>
                        </div>
                        <input class="save btn" type="submit" value="Logga in">
                    </form>
                    <form id="register_form" action="/register" method="POST">
                        <h3>Registrera dig för att komma igång och söka jobb!</h3>
                        <label for="first_name">Namn:</label>
                        <input type="text" id="first_name" name="first_name">
                        <label for="last_name">Efternamn:</label>
                        <input type="text" id="last_name" name="last_name">
                        <label for="email">Email:</label>
                        <input required type="email" id="email" name="email" title="Du måste ange e-mail med ett @...com!">
                        <label for="password">Lösenord:</label>
                        <input required type="password" id="password_2" name="password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Lösenordet måste innehålla minst en siffra och en storbokstav samt minst åtta tecken.">
                        <div>
                            <label><input type="checkbox" onclick="asterixPassword2()">Visa lösenord</label>
                        </div>
                        <input class="register_btn" type="submit" value="Registrera">
                    </form>
                </div>
            </div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">@AgilisAB</p>
                <p>Klicka på <a href="./kontakt">Kontakt</a> ifall du har några frågor till Agilis.</p>
            </div>
        </footer>
        <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
        <script src="static/jquery-2.1.1.js"></script>
        <script src="static/bootstrap.min.js"></script>
        <script src="static/menu.js"></script>
        <script src="static/animated-headline.js"></script>
        <script src="static/isotope.pkgd.min.js"></script>
        <script src="static/custom.js"></script>
        <script src="static/cookieCheck.js"></script>
    </body>                     
</html>