<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Agilis Sökandes Profil</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script src="static/script.js"></script>
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1>AGILIS</h1>
            <p>- Ge dig själv mer tid till annat</p>
            <nav> 
                <ul>
                    <li><a href="./profil" target="blank">Profil</a></li>
                    <li><a href="./sokjobb" target="blank">Sök jobb</a></li>
                    <li><a href="./info" target="blank">Information om Agilis</a></li>
                    <li><a href="./kontakt" target="blank">Kontakta Agilis</a></li>
                    <li style="float:right"><a class="active"href="./" target="blank">Logga ut</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h3>Hej och välkommen till din profil sida hos Agilis! </h3>
            <p>Här kommer du att ha bra koll på dina personliga brev, CV och sparade jobbannonser.</p>
            <ul>
                <li>CV</li>
                <br>
                <li>Personligt brev</li>
                <br>
                <li>Mina sparade jobbannonser</li>
            </ul>
        </main>
        <footer>
            <p>@AgilisAB</p>
        </footer>
     </div>   
    </body>
</html>