<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Agilis</title>
        <meta charset="utf-8">
        <link href="style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    
    </head>
    <body>
            <header>
                <h1>Agilis</h1>
            </header>
            <nav>
                <div id="nav_one">
                <br>
                <a href="./profil.html" target="blank">Profil</a>
                <br>
                <a href="./sokjobb.html" target="blank">Sök Jobb</a>
                <br>
                <a href="./info.html" target="blank">Information</a>
                <br>
                <a href="./kontakt.html" target="blank">Kontakt</a>
                <br>
                <a href="./logout.html" target="blank">Logga ut</a>
                </div>
            </nav>
            <main>
                <div id="main_one">
                <h2>Bildspel</h2>
                </div>
            </main>
            <aside>
                    <div id="container">
                            <div class="aside_left">Textbox på vänstersida</div>
                            <div class="aside_right">Textbox på högersida</div>
                    </div>
            </aside>

            <footer>
                <p>@AgilisAB</p>
            </footer>

    </body>
</html>