<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Agilis</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    
    </head>
    <body>
            <header>
                <h1>AGILIS</h1>
                <nav>
                    <div id="nav_one">
                    <a href="./profil.html" target="blank">Profil</a>
                    <a href="./sokjobb.html" target="blank">Sök Jobb</a>
                    <a href="./info.html" target="blank">Information</a>
                    <a href="./kontakt.html" target="blank">Kontakt</a>
                    <a href="./logout.html" target="blank">Logga ut</a>
                    </div>
                </nav>
            </header>
            <main>
                    <h2>Här ska vara ett bildspel</h2>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>

    </body>
</html>