<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Agilis</title>
    <link rel="icon" href="static/logo.png" type="icon">

    <!-- Bootstrap -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="static/style.css" rel="stylesheet">


    <!-- modernizr -->
    <script src="static/modernizr.js"></script>

   
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">
        <!-- box header -->
        <header class="box-header">
            <div class="box-logo">
                <a href="./"><img src="static/logo.png" width="80" alt="Logo"></a>
            </div>
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box header -->

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label">Agilis</li>

                
                <li><a href="./">Agilis</a></li>
                <li><a href="./info">Information</a></li>
                <li><a href="/login">Logga in/Registera dig</a></li>
                <li><a href="./kontakt">Kontakt</a></li>
                <li><a href="./sokjobb">Sök jobb</a></li>
            </ul>
        </nav>
        <!-- end nav -->
        <!-- Top bar -->
    <div class="top-bar">
        <h1>Information</h1>
        <p><a href="./">Hem</a> / Information</p>
    </div>
    <!-- end Top bar -->
    
    <!-- Main container -->
    <div class="container main-container clearfix"> 
       
        <h2>Sök Jobb</h2>
        <div id="outside_job_div">
            <div id="job_search">
                <div id="entire_job_div">
                    <h2 id="annonsrubrik"></h2>
                    <p id="yrkesbenamning"></p>
                    <p id="annonstext"></p>
                    <p id="kommunnamn"></p>
                    <div id="info_div">
                        <div id="job_time_div">
                            <p id="varaktighet"></p>
                            <p id="arbetstid"></p>
                        </div>
                        <div class="job_info_div">
                            <p id="lonetyp"></p>
                            <p id="loneform"></p>
                        </div>
                        <div class="job_info_div">
                            <p id="sista_ansokningsdag"></p>
                            <p id="webbplats"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="stick-here"></div>
            <div id="sticky_div">
                <button id="btn1" api_response="{{api_response}}">Ja</button>   
                <button id="no_btn">Nej</button>
            </div>
        </div>

    
    <br>
    <center>
        Klicka på <a href="./kontakt">Kontakt</a> ifall du har några frågor till Agilis.
    </center>
    <!-- end Main container -->

       

 
    <footer>
        <div class="container-fluid">
            <p class="copyright">@AgilisAB</p>
        </div>
    </footer>
    <!-- end footer -->

    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->



    <!-- jQuery -->
    <script src="static/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="static/bootstrap.min.js"></script>
    <script src="static/menu.js"></script>
    <script src="static/animated-headline.js"></script>
    <script src="static/isotope.pkgd.min.js"></script>


    <!--  custom script -->
    <script src="static/custom.js"></script>
    <script src="static/script.js"></script>

</body>

</html>


