<!DOCTYPE html>
<html>
    <head>
        <title>Agilis</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header id="header_main">
                <h1><a href="./" >AGILIS</a></h1>
            <p>- Ett effektivt jobbsökande</p>
                <nav> 
                    <ul>
                        <li><a href="./profil" target="blank">Profil</a></li>
                        <li><a href="./sokjobb" target="blank">Sök jobb</a></li>
                        <li><a href="./kontakt" target="blank">Kontakta Agilis</a></li>
                        <li style="float:right"><a class="active"href="./" target="blank">Logga ut</a></li>
                    </ul>
                </nav>
            </header>
            <main id="index_main">
              <h3>Tack för att du sparar allt hos oss!!</h3>
              <p><b>Tillbaka till din <a href="./profil" >profil</a> eller vill du ladda upp fler <a href="./cv_personligt_brev" >CV eller personligt brev?</b></a></p>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>