<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meny</title>
    <link rel="icon" href="static/logo.png" type="icon">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/ionicons.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <script src="static/modernizr.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> 
</head>

<body>
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <header class="box-header">
            <div class="box-logo">
                <a href="./"><img src="static/logo.png" width="80" alt="Logo"></a>
            </div>
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
        </header>
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label">Agilis</li>
                <li><a href="./">Startsida</a></li>
                <li><a href="./profil">Profil</a></li>
                <li><a href="./sokjobb">Sök jobb</a></li>
                <li><a href="./info">Information</a></li>
                <li><a href="./login">Logga in/Registera dig</a></li>
                <li><a href="./kontakt">Kontakt</a></li>
                <li><a href="./signout">Logga ut</a></li>
            </ul>
        </nav>
            <div class="top-bar">
                <h1>Sparade CV och personligt brev</h1>
                <p><a href="./">Hem</a> / <a href="./sokjobb">Sök Jobb</a></p>
            </div>
            <div id="sparadeJobb">

            </div>
    <main id="index_main">
        % for  email, annonsrubrik in data:
        <a href= "/sokjobb{{ i[email, annonsrubrik] }}">{{ i[email, annonsrubrik] }}</a>
        <h3>Tack för att du sparar allt hos oss!! {{ email, annonsrubrik }}</h3>
        <a href="static/uploads/nathaliebjornsson@hotmail.com/da336a_instruktioner_testdag.pdf">PDF</a>
        
        <p><b>Tillbaka till din <a href="./profil" >profil</a> eller vill du ladda upp fler <a href="./cv_personligt_brev" >CV eller personligt brev?</b></a></p>
      </main>
        <main id="index_main">
            <h3>Tack för att du sparar allt hos oss!!</h3>
                <a href="static/uploads/nathaliebjornsson@hotmail.com/da336a_instruktioner_testdag.pdf">PDF</a>
                <p><b>Tillbaka till din <a href="./profil" >profil</a> eller vill du ladda upp fler <a href="./cv_personligt_brev" >CV eller personligt brev?</b></a></p>
        </main>
    <footer>
        <div class="container-fluid">
            <p class="copyright">@AgilisAB</p>
        </div>
    </footer>
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <script src="static/jquery-2.1.1.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/menu.js"></script>
    <script src="static/animated-headline.js"></script>
    <script src="static/isotope.pkgd.min.js"></script>
    <script src="static/custom.js"></script>
</body>

</html>