<!DOCTYPE html>
<html>
    <head>
        <title>Agilis</title>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header id="header_main">
                <h1><a href="./" >AGILIS</a></h1>
            <p>- Ett effektivt jobbsökande</p>
                <nav> 
                    <ul>
                        <li><a href="./profil" >Profil</a></li>
                        <li><a href="./sokjobb" >Sök jobb</a></li>
                        <li><a href="./kontakt" >Kontakta Agilis</a></li>
                        <li style="float:right"><a class="active"href="./" >Logga ut</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <h2>Tack för uppladdningen!</h2>
                <p><a href="/profil">Klicka här för att komma tillbaka till profilen</a></p>
            </main>
            <footer>
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>