<!DOCTYPE html>
<html>
    <head>
        <title>Agilis</title>
        <meta charset="utf-8">

        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <main>
            <p>content</p>
        </main>
        <footer id="index_footer">
            <p>@AgilisAB</p>
        </footer>
    
    </body>
</html>