<!DOCTYPE html>
<html>
    <head>
        <title>Agilis</title>
        <meta charset="utf-8">

        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div id="index_main">
            <header id="header_main">
                <h1><em>AGILIS</em>
                </h1>
                <p>Ett effektivt jobbsökande</p>
            </header>
            <main id="div_index">
                <div id="index_info">
                    {% if user.is_authenticated %}
                    Hi {{ user.email }}!
                    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
                    {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'account_login' %}">Log In</a> |
                    <a href="{% url 'account_signup' %}">Sign Up</a>
                    {% endif %}
                </div>
                <div id="whole_form">
                    <form id="login_form" action="/check_login" method="POST">
                        <h3>Redan medlem? Logga in</h3>
                        <label for="username">Email:</label>
                        <input required type="email" id="username" name="username">
                        <label for="password" >Lösenord:</label>
                        <input type="password" id="password" name="password">
                        <div>
                            <input type="checkbox" onclick="asterixPassword()">
                            <p>Visa lösenord</p>
                        </div>
                        <input class="save btn" type="submit" value="Logga in">
                    </form>
                    <form id="register_form" action="/register" method="POST">
                        <h3>Registrera dig för att komma igång och söka jobb!</h3>
                        <label for="first_name">Namn:</label>
                        <input type="text" id="first_name" name="first_name">
                        <label for="last_name" >Efternamn:</label>
                        <input type="text" id="last_name" name="last_name">
                        <label for="email" >Email:</label>
                        <input required type="email" id="email" name="email" 
                        title="Du måste ange e-mail med ett @...com!">
                            <label for="password" >Lösenord:</label>
                         <input required type="password" id="password_2" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                        title="Lösenordet måste innehålla minst en siffra och en storbokstav och småbokstäver samt minst åtta tecken.">
                        

                        <!--- <input required type="text" id="email" name="email">
                        <label for="password" >Lösenord:</label>
                        <input required type="password" id="password_2" name="password"> -->
                        <div>
                            <label><input type="checkbox" onclick="asterixPassword2()">Visa lösenord</label>
                        </div>
                        <input class="register_btn" type="submit" value="Registrera">
                    </form>
                </div>
            </main>
            <footer id="index_footer">
                <p>@AgilisAB</p>
            </footer>
        </div>
    </body>
</html>