/* 
INFORMATIONSSIDANS CSS 
*/

.flip_card_container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.flip_card {
    background-color: transparent;
    width:225px;
    height:250px;
    perspective: 1000px;
    display: block;
  }

  
.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
  }
  
.flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
.flip_card_front {
    background-color: #ffbf00;
    color: black;
    z-index: 2;
  }
  
.flip_card_back {
    background-color:#ffbf00;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
  }
