body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

#wrapper {
    margin: 1px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 100% auto;
    grid-template-areas:
    "header"
    "main"
    "footer"

}

#login {
    color: black;
    float: right;
    margin-right: 80px;
    text-align: center;
    border: 2px solid rgb(206, 206, 206);
    padding: 50px;
    padding-top: 20px;
    margin-top: 30px;
}

.main_one {
    display: flex;
    text-align: center;
    margin: 0px;
    flex-direction: column-reverse;
}
  
  


#signup {
    color: black;
    float: left;
    margin-left: 80px;
    text-align: center;
    border: 2px solid rgb(206, 206, 206);
    padding: 50px;
    padding-top: 20px;
    margin-top: 30px;
    
}

header {
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 1px 1px 1px rgb(201, 201, 201);
    background-color: rgb(0, 83, 128);
    color: white;
}

header > h1 {
    padding-left: 7%;
    font-size: 50px;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(2, 64, 97);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:rgba(250, 249, 249, 0.171);
   
  }

#log-on {
    margin-left: auto;
}

main {
    margin: auto;
    width: 80%;
    border: 1px solid rgb(206, 206, 206);
    padding: 5%;
}

footer {
    border-top:1px solid rgb(206, 206, 206);
    width: 70%;
    margin: auto;
    text-align: center;
}