/* WHOLE WEBSITE */
body {
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    background-color: rgb(242, 242, 242);
}

#wrapper {
    margin: 1px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 80% auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* HEADER */ 
header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.338);
    box-shadow: 0 4px 8px 0 rgba(167, 91, 91, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(79, 112, 134);
}

header > h1 {
    padding-left: 7%;
    font-size: 50px;
}

header > p {
    padding-left: 10%;
}
/* NAV */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(2, 64, 97);
    border-block-end: 0px;
}
  
li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color:rgba(250, 249, 249, 0.171);
}

/* MAIN */ 
main {
    margin: auto;
    width: 90%;
    border: 1px solid rgb(206, 206, 206);
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#index_main {
    background-image: url("index_background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

p {
    white-space: pre-wrap;
}
/* LOG IN AND REGISTER */
#whole_form {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    
}

#register_form, #login_form {
    display: flex;
    flex-flow: column;
    background-color: rgba(255, 255, 255, 0.708);
    padding: 5%;
    width: 100%;
    margin: 2%;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register_form:hover, #login_form:hover {
    box-shadow: 0 4px 8px 0 rgb(89, 89, 89), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register_form > input{
    margin-bottom: 4%;
    padding: 2%;
    width: 100%;
}

#login_form > input {
    margin-bottom: 4%;
    padding: 2%;
    width: 100%;
}

form > div {
    all: unset;
}

form > div > label {
    all: unset;
}

#job_search {
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgb(89, 89, 89), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}

#profilbild {
    float: right;
    margin-left: 50px;
}

/* JOB SEARCH */
#outside_job_div {
    display: flex;
}

#outside_job_div > button {
    height: 70px;
    width: 70px;
    position: fixed;
    font-size: 20px;
    border-radius: 35px;
}

#no_btn {
    left: 5%;
}

#no_btn:hover {
    background-color: rgb(235, 64, 64);
}

#btn1 {
    right: 5%;
}

#btn1:hover {
    background-color: rgb(17, 167, 17);
}

#info_div {
    display: flex;
    justify-content: flex-start;
}

.job_info_div {
    margin-left: 2%;
    border-left: 1px solid black;
    padding-left: 2%;
}

#info_div {
    border: 1px solid black;
    padding: 2%;
}

/* FOOTER */
footer {
    border-top:1px solid rgb(206, 206, 206);
    width: 70%;
    margin: auto;
    text-align: center;
}


